@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Anton);

body {
    background-color: black;
	color: #A80083;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

header {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	background-color: #6A0003;
	color: #C40B9B;
	font-family: 'Anton', sans-serif;
	
}

header div.banner{
	border-bottom:solid 3px #FFFFFF;
}

header img.logo{
	text-align: center;
	display: block;
	padding-top: 1em;
	margin-left: auto;
	margin-right: auto;
	padding: 0 0 0 0;
	width:auto;
	height:15em;
}

header h1 {
	margin: 0 0 0 0;
	padding: 0.25em 0 0.1em 0;
	font-size: 3em;
	letter-spacing: 0.1em;
	background-color: black;
	text-align:center;
	font-weight:lighter;
}

header h2 {
	margin: 0 0 0 0;
	padding: 0.1em 0 1em 0;
	font-style: oblique;
	font-size: 1.25em;
	color: #FD0E14;
	letter-spacing: 0.1em;
	font-family: 'Open Sans', sans-serif;
}

nav {
	text-transform: lowercase;
	text-align: center;
	text-decoration: none;
	font-family: 'Anton', sans-serif;
	font-size: 1.75em;
	color: #C40B9B;
	margin: 0 0 0 0;
	padding: 0.1em 0 0.1em 0;
}

nav a:link{
	color: #C40B9B;
	text-decoration: none;
	font-family: 'Anton', sans-serif;
}

nav a:hover{
	color: #C40B9B;
	text-decoration: none;
	font-family: 'Anton', sans-serif;
	font-weight: bold;
}

nav a:visited{
	color: #C40B9B;
	text-decoration: none;
	font-family: 'Anton', sans-serif;
}

article {
	margin: 0 20% 0 20%;
	background-color: #4E003D;
	padding: 1em 2em 1em 2em;
}

article h1 {
    font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	color: #FFFFFF;
}

article p {
	color:#FFFFFF;
	font-family: 'Open Sans', sans-serif;
	padding: 0.1em 1em 1em 1em;
	font-size: 14pt;
}

article a {
	text-decoration:none;
	color: #FD0E14;
}

article a:visited {
	color: #FD0E14;
}

article iframe {
	display: block;
	margin-left: auto;
    margin-right: auto;
    width: 70%;
	height: 500px;
	border: none;
	text-align: center;
}

footer {
	color: #FD0E14;
	font-size: 1em;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: initial;
}

footer a {
	text-decoration:none;
	font-weight: 900;
	color: #FD0E14;
}

footer a:visited {
	color: #FD0E14;
	font-weight: 900;
}

footer div.buttons{
	border: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

footer div.buttons iframe{
	border: none;
	display: inline;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

/* define mobile specific styles come here */
@media only screen and (max-width: 480px){

nav{
	display: block;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
nav a {
	display: block;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

article {
	margin: 0 0 0 0;
	background-color: #4E003D;
	padding: 1em 2em 1em 2em;
}

}